---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Mountain,%20Leakey&region=us&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Mountain",
                       "short_name" : "Mountain",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Leakey",
                       "short_name" : "Leakey",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Real",
                       "short_name" : "Real",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Texas",
                       "short_name" : "TX",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "78873",
                       "short_name" : "78873",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "Mountain, Leakey, TX 78873, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 29.7298474,
                          "lng" : -99.76302
                       },
                       "southwest" : {
                          "lat" : 29.724517,
                          "lng" : -99.76423029999999
                       }
                    },
                    "location" : {
                       "lat" : 29.727109,
                       "lng" : -99.763538
                    },
                    "location_type" : "GEOMETRIC_CENTER",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 29.7298474,
                          "lng" : -99.76227616970849
                       },
                       "southwest" : {
                          "lat" : 29.724517,
                          "lng" : -99.76497413029151
                       }
                    }
                 },
                 "types" : [ "route" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 10 Oct 2013 01:36:02 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Mountain,%20Leakey,%20TX%2078873,%20USA&region=us&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
        [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=6454%20East%20Taft,%20East%20Syracuse&region=us&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
          [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=6454%20East%20Taft%20Road,%20East%20Syracuse,%20NY%2013057,%20USA&region=us&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Mountain%20View&region=us&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_compon[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=White%20House%201600%20DC&region=us&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "addr[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=The%20White%20House,%201600%20Pennsylvania%20Avenue%20Northwest,%20Washington,%20DC%2020500,%20USA&region=us&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1600hiteatre,%20Mountain%20View,%20CA%20&region=us&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
       [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Archer%20Daniels%20Midland%20Co.&region=us&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
               [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1601%20West%20Mission%20Boulevard%20%23104&region=us&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
     [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1601%20West%20Mission%20Boulevard%20%23104,%20Pomona,%20CA%2091766,%20USA&region=us&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "res[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1601%20West%20Mission%20Road%20%23104,%20San%20Marcos,%20CA%2092069,%20USA&region=us&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "re[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1601%20West%20Mission%20Boulevard%20%23104,%20Ontario,%20CA%2091762,%20USA&region=us&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "re[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1601%20West%20Mission%20Lane%20%23104,%20Phoenix,%20AZ%2085021,%20USA&region=us&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1601%20West%20Mission%20Avenue%20%23104,%20Spokane,%20WA%2099201,%20USA&region=us&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "resul[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1601%20West%20Mission%20Drive%20%23104,%20Chandler,%20AZ%2085224,%20USA&region=us&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "resul[...]
